<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="IndexadorIA" 
			 connectionString="Server=localhost\SQLEXPRESS;Database=IndexadorIA;User Id=sa;Password=123;TrustServerCertificate=True;" 
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>
