<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UrlApi" value="http://localhost:5090/" />
		<add key="ApiKeyApi" value="CAMBIAR-ESTA-API-KEY-EN-PRODUCCION" />
	</appSettings>
	<connectionStrings>
		<add name="IndexadorIA" 
			 connectionString="Server=localhost\SQLEXPRESS;Database=IndexadorIA;User Id=sa;Password=123;TrustServerCertificate=True;" 
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>
